.link {
  color: var(--text-primary-color);
  text-decoration: none;
}

.root {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  border-radius: 40px;
  background-color: var(--background);
  gap: 24px;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name,
.status {
  text-transform: capitalize;
}

.ingredients {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ingredient {
  margin-right: -16px;
}

.price {
  display: inline-flex;
  gap: 9px;
}
