.root {
  display: flex;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.root [class~="input__error"] {
  height: 0;
  margin-bottom: 0;
  font-size: 14px;
}
