.tabBar {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu {
  height: calc(100vh - 284px);
  padding: 40px 0 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

.menu::-webkit-scrollbar-track {
  margin: 40px 0;
}

.menu::-webkit-scrollbar {
	width: 8px;
}

.menu::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}
