.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  align-self: flex-start;
}

.image {
  width: 480px;
  height: 240px;
}

.list {
  display: flex;
  column-gap: 20px;
  margin: 0;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
