.navList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navLink {
  color: var(--text-inactive-color);
  cursor: pointer;
  text-decoration: none;
  transition: var(--common-transition);
}

.navLink.isActive {
  color: var(--text-primary-color);
  cursor: default;
}

.navLink:hover {
  color: var(--text-primary-color);
}

.submitGroup {
  display: flex;
  margin-left: auto;
}
