.root {
  position: relative;
  display: grid;
  max-width: 272px;
  cursor: grab;
  grid-template-rows: 120px 1fr;
}

.root.beingDragged {
  opacity: .5;
}

.name {
  overflow: hidden;
  height: 48px;
  line-height: 1.5;
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
}
