.root {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 60px;
}

.orderStats {
  display: grid;
  grid-template-areas:
    'done pending'
    'total total'
    'totalToday totalToday';
  gap: 60px 36px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 207px 150px max-content;
  margin: 0;
  height: calc(100vh - 184px);
  overflow-y: auto;
}

.orderQueueWrapper { margin: 0; }

.orderQueue {
  column-count: 2;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.total { grid-area: total; }
.totalToday {  grid-area: totalToday; }
