.root {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 60px;
}

.orderList {
  display: flex;
  height: calc(100vh - 184px);
  flex-direction: column;
  padding: 0 8px 0 0;
  margin: 0;
  gap: 16px;
  list-style: none;
  overflow-y: auto;
}

.orderList::-webkit-scrollbar-track { margin: 0; }
.orderList::-webkit-scrollbar { width: 8px; }

.orderList::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}

.orderStats {
  display: grid;
  grid-template-areas:
    'done pending'
    'total total'
    'totalToday totalToday';
  gap: 60px 36px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 207px 150px max-content;
  margin: 0;
  height: calc(100vh - 184px);
  overflow-y: auto;
}

.orderQueueWrapper { margin: 0; }

.orderQueue {
  column-count: 2;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.total { grid-area: total; }
.totalToday {  grid-area: totalToday; }
