.imageWrapper {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(128 26 178 / 100%);
  border-radius: 50%;
  background-color: var(--background-alt);
}

.image {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.text {
  position: absolute;
}

.imageWrapper.closingIngredient {
  position: relative;
}

.imageWrapper.closingIngredient > .image {
  opacity: .3;
}
