.root {
  position: fixed;
  z-index: 1;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 60%);
  opacity: 0;
  visibility: hidden;
}

.isOpen {
  opacity: 1;
  visibility: visible;
}

.container {
  position: relative;
  width: 720px;
  min-height: 492px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: var(--background);
}

.closeButton {
  position: absolute;
  top: 62px;
  right: 34px;
  border: unset;
  background-color: unset;
  cursor: pointer;
}

.closeButton > svg {
  transition: opacity .3s ease;
}

.closeButton:hover > svg {
  opacity: .7;
}
