.root {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
}

.content {
  display: grid;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: 1fr max-content 1fr;
}

.navList {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(2, max-content);
  list-style: none;
}

.userActions {
  justify-self: end;
}

.navLink {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
  transition: var(--common-transition);
}

.navLink:hover {
  color: var(--text-primary-color);
}

.navLink.isActive {
  color: var(--text-primary-color);
  cursor: default;
}

.navLink > svg {
  fill: currentcolor;
}
