.root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--background);
}

.content {
  display: flex;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto;
}

.logo {
  margin-left: 100px;
}

.nav:last-of-type {
  margin-left: auto;
}

.navList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navLink {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
  transition: var(--common-transition);
}

.navLink:hover {
  color: var(--text-primary-color);
}

.navLink.isActive {
  color: var(--text-primary-color);
  cursor: default;
}

.navLink > svg {
  fill: currentcolor;
}
