.root {
  display: flex;
  width: 868px;
  height: calc(100vh - 272px);
  flex-direction: column;
  padding: 0 8px 0 0;
  margin: 0;
  gap: 24px;
  list-style: none;
  overflow-y: auto;
}

.root::-webkit-scrollbar-track {
  margin: 0;
}

.root::-webkit-scrollbar {
	width: 8px;
}

.root::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
}
