.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  min-height: 100vh;
}

.paragraph {
  text-align: center;
}

.link {
  font-family: 'Jet Brains Mono';
	font-size: 16px;
	line-height: 1.5;
  color: var(--text-inactive-color);
	background: transparent;
	cursor: pointer;
	transition: var(--common-transition);
}

.link:hover {
  color: var(--colors-interface-accent);
	opacity: 0.9;
}
